####################
## SENSITIVE FILE ##
## DO NOT COMMIT! ##
####################
/gh-pat.txt

################
## JetBrains. ##
################
/.idea/
*.iml

##############
## VS Code. ##
##############
/.vscode/
*.vsix

##########
## Vim. ##
##########
/.vimrc
*.swp
*.tmp

###################
## Build Output. ##
###################
/result
